@using QuestRoom.Models

@model RoomModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div style="text-align:center">
        <img src=/@Model.Room.Pictures.ToList().Find(x => x.Logo == true).Path style="width:450px; height:300px;">
        <p style="font-size:20px; font-style:italic; color:black">Квест - @Model.Room.Name</p>
    </div>
    @RoomHelper.HtmlList(Model.Room.Pictures)
    <hr style="background-color:red; color:red; height:2px; border:none;" />
    <div style="width:40%; margin:10px; display:inline-block; text-align:left">
        <ul style="list-style-type:none">
            <li>@Model.Room.Description</li>
            <li>Время прохождения - @Model.Room.Duration</li>
            <li>Количество человек - @Model.Room.GroupSize</li>
            <li>Ограничение по возрасту - @Model.Room.MinimumAge</li>
            <li>Тип квеста - @Model.TypeRoom.Name</li>
        </ul>
    </div>
    <div style="width:40%; margin:5px; display:inline-block; text-align:right">
        <ul style="list-style-type:none">
            <li>Рейтинг - @Model.Room.Rating</li>
            <li>Уровень сложности - @Model.LevelComplexity.Name</li>
            <li>Адрес - @Model.Room.Address</li>
            <li>Телефон - @Model.Room.PhoneNumbers</li>
            <li>Емейл - @Model.Room.Email</li>
            <li>Компания - @Model.Room.Company</li>
        </ul>
    </div>
</body>
</html>
