@using QuestRoom.Models;

@model RedactorRoomModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <h2>Новая Квест-комната</h2>
    @using (Html.BeginForm())
    {
        @Html.LabelFor(m => m.Room.Name, "Название комнаты")
        <br />
        @Html.EditorFor(model => model.Room.Name)
        <br /><br />
        @Html.LabelFor(m => m.Room.Description, "Описание")
        <br />
        @Html.EditorFor(m => m.Room.Description)
        <br /><br />
        @Html.LabelFor(m => m.Room.Duration, "Время прохождения")
        <br />
        @Html.EditorFor(m => m.Room.Duration)
        <br /><br />
        @Html.LabelFor(m => m.Room.GroupSize, "Количество игроков")
        <br />
        @Html.EditorFor(m => m.Room.GroupSize)
        <br /><br />
        @Html.LabelFor(m => m.Room.MinimumAge, "Ограничение по возрасту")
        <br />
        @Html.EditorFor(m => m.Room.MinimumAge)
        <br /><br />
        @Html.LabelFor(m => m.Room.Rating, "Рейтинг")
        <br />
        @Html.EditorFor(m => m.Room.Rating)
        <br /><br />
        @Html.LabelFor(m => m.Room.LevelComplexityId, "Урoвень сложности")
        <br />
        @Html.DropDownListFor(m => m.Room.LevelComplexityId, Model.LevelComplexityList as SelectList)
        <br /><br />
        @Html.LabelFor(m => m.Room.TypeRoomId, "Тип комнаты")
        <br />
        @Html.DropDownListFor(m => m.Room.TypeRoomId, Model.TypeRoomList as SelectList)
        <br /><br />
        @Html.LabelFor(m => m.Room.Address, "Адрес")
        <br />
        @Html.EditorFor(m => m.Room.Address)
        <br /><br />
        @Html.LabelFor(m => m.Room.PhoneNumbers, "Телефон")
        <br />
        @Html.EditorFor(m => m.Room.PhoneNumbers)
        <br /><br />
        @Html.LabelFor(m => m.Room.Email, "Емейл")
        <br />
        @Html.EditorFor(m => m.Room.Email)
        <br /><br />
        @Html.LabelFor(m => m.Room.Company, "Компания")
        <br />
        @Html.EditorFor(m => m.Room.Company)
        <br /><br />
        <input type="submit" value="Добавить" />
    }
</body>
</html>

